.chart{
    display: flex;
    width: 1822px;
    margin-left: 80px;
   
}
.chart-left{
    margin-top: 12px;
width: 250px;
}
.chart-left h6 {
    padding: 8px 6px;
}
.db-btm p{
    padding: 8px 6px;
    background-color: #CFD4ED;
    
}
.chart-right{
    background-color: lightgray;
    padding: 2px 8px;
    width: 100%;
    height: 100%;
}
.chart-db{
    padding: 12px 20px;
}
.chart-live{
    margin-top: 52px;
}
.table-live{
    margin-top:100px;
    width: 100%;
    background-color: lightgray;
}